* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    
}

body {
    text-align: center;
    height: 100vh;
    width: 100%;
    justify-content: flex-end;
    align-items: start;
    padding: 0 20px;
}

.logo {
    margin-right: 500px;
    height: 85px;
    width: 120px;
}

.nav {
    width: 100%;
    height: 100px;
    justify-content: flex-end;
    display: inline-flex;
    max-width: 100%;
    background: linear-gradient(to right, #c9D8DD, #0a082d);
    padding: 0 20px;
    border-radius: 40px;
    box-shadow: 0 10px 40px rgba(#0a082d, #6D8D97, #c9D8DD, .8);
    margin-bottom: 10px;
}

.nav-item {
    color: #ffffff;
    padding: 40px;
    text-decoration: none;
    transition: .3s;
    margin: 0 6px;
    z-index: 1;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
    position: relative;

    &:before {
        content: "";
        position: absolute;
        bottom: -6px;
        left: 0;
        width: 100%;
        height: 5px;
        background-color: #c9D8DD;
        border-radius: 8px 8px 0 0;
        opacity: 0;
        transition: .3s;
    }
}


.nav-item:not(.is-active):hover:before {
    opacity: 1;
    bottom: 0;
}

.nav-item:not(.is-active):hover {
    color: #9fd9eb;
}

.nav-indicator {

    left: 0;
    bottom: 0;
    height: 4px;
    transition: .4s;
    height: 5px;
    z-index: 1;
    border-radius: 8px 8px 0 0;
}

@media(max-width: 680px) {
    .nav {
        overflow: 680;
    }
}

/*footer*/

.footer-content {
    background-color: #141144;
    position: relative;
    justify-content: end;


}


.footer-content p {
    color: #0a082d;
    font: 16px;
    line-height: 30px;
    margin: 20px 0;
    justify-content: flex-end;
    display: inline-flex;
}

.icon a {
    display: inline-block;
    font-size: 25px;
    color: #6D8D97;
    margin-right: 20px;
    transform: all .40s ease;
}

.icon a:hover {
    color: #c9D8DD;
    transform: translateY(-5px);
}

.logo {
    font-size: 33px;
    color: #c9D8DD;
    font-weight: 700;
}



.footer-content h4 {
    color: #c9D8DD;
    margin-bottom: 1.5rem;
    font-size: 20px;
}

.footer-content p {
    color: #c9D8DD;
}

footer {
    padding: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    gap: 3.5rem;
    background: #0a082d;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    
    
}

/*aside*/
.problema1 {
    
    border:solid #0a082d 2px;
    width: 250px;
    padding:2px ;
}

.problema2 {

    border:solid #0a082d 2px;
    width: 750px;
}

.problema3 {

    border:solid #0a082d 2px;

    margin-left: 10px;
    width: 250px;
    padding: 2px;

}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.jpeg{
width: 500px;
height: 300px;
border: solid rgb(255, 255, 255) 2px;
}